.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 350px;
  margin: 0 auto;
}

.button {
  width: 100px;
  height: 30px;
  color: white;
  text-align: center;
  outline: none;
  padding: 10px;
  font-size: 14px;
  letter-spacing: 1px;
  border: none;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.showPassword {
  position: absolute;
  top: 5px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-image: url('../../../assets/icons/iconEyeOpen.png');
  background-color: white;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}

.hidePassword {
  position: absolute;
  top: 5px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-image: url('../../../assets/icons/iconEyeClose.png');
  background-color: white;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}

.inputWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
}

.inputPassword {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
} 

.input {
  height: 40px;
  width: 100%;
  padding: 0px 15px;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  color: black;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 10px;
  transition: .2s;
}

.input:focus {
  outline: none;
  border: 2px solid black;
  transform: scale(1.02);
}

.password {
  position: relative;
  display: flex;
  width: 100%
}

.errorForm{
    margin-top: 5px;
    margin-bottom: 0;
    padding-left: 20px;
    color:red;
    font-size: 0.8em;
    text-align: left;
  }

  .span{
    font-weight: bold;
  }