@use '../../SCSS/abstracts/mixins' as *;
@import '../../SCSS/abstracts/variables';



.backSection {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: -1;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

}

.backSection::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    z-index: 1000;
}

.backSection {
    img {
        position: absolute;
        width: 60%;
        object-fit: cover;
        pointer-events: none;
        top: 0;
        left: 0;
    }

    .thunder {
        width: 30px;
        left: 50px;
    }

    .donut {
        width: 30px;
        left: 55%;
        top: 30%;
        opacity: 1;
        /* Aseguramos que la opacidad inicial sea 1 */
        transition: opacity 0.5s ease;
        /* Agregamos una transición para la opacidad */
    }

    .rocket {
        width: 30px;
        left: 10%;
        bottom: 0;
    }
}

.hero_section {
    @include flexbox(row, center, center, flex-start);
    margin: 0;
    padding: 0;
    height: 100%;
    /* mandatory */

    h4 {
        display: none;
    }
}

.hide {
    display: none;
}


.characteristics_wrapper {
    @include flexbox(row, center, center, center);
    background-color: $third-color;
    padding: 0;
    height: 100vh;

    margin-top: 40px;
    padding: 20px;
    background-color: $third-color;

    div {
        @include flexbox(column, center, space-evenly, flex-start);
        width: 50%;
        height: 60%;
        margin-left: 100px;

        .p {
            @include p-regular (400);
        }
    }
}

/* contact section */
.contact_section {

    @include flexbox(row, center, center, center);
    margin: 0;
    padding: 0;
    height: 100vh;
    /* mandatory */
    background-color: $grey3;

    .contact_info {

        @include flexbox(column, center, flex-start, flex-start);
        margin: 50px 100px 0px 100px;

        div {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }
    }

    .contact_form {
        @include flexbox(row, center, center, center);
        height: 100px;
        width: 50%;

    }
}


@media screen and (max-width: 1024px) {

    .backSection{

        display: none;
    }

    .hero_section {

        .signin {
            display: flex;
            flex-direction: column;
            align-items: center;

            h4 {
                display: visible;
                @include degradado;
                margin-top: 20px;
                text-align: center;
            }
        }
    }

    .contact_section {

        @include flexbox(column, center, center, center);
        margin: 0;
        padding: 0;
        background-color: $grey3;

        .contact_info {
            display: none;
        }
        .contact_form {
            
            height: 100px;
            width: 100%;
        }
    }

}