@use '../../../SCSS/abstracts/mixins' as *;
@import '../../../SCSS/abstracts/variables';


.wrapper {
    @include flexbox(row, center, space-between, center);
    height: 80px;
    padding: 0;
    margin: 0;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.brand {
    width: 200px;
    margin-left: 100px
}

.menu {
    @include flexbox(row, center, center, center);
    margin-right: 100px;
}

.nav {
    display: flex;
    align-items: center;

    a {
        margin: 0 2rem;
        color: $secundary-color;
    }

    a:hover {
        color: $grey2;
    }

    a:active {
        color: $primary-color;
    }

    .signInBtn {
        @include primary-btn;
    }

    .signInBtn:hover {
        background-color: #34BDF1;
    }

    .signInBtn:active {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        transform: translateY(-15%);
    }
}

.faBars {
    visibility: hidden;
    opacity: 0;
}

.faTimes {
    visibility: hidden;
    opacity: 0;
}


@media only screen and (max-width: 1024px) {
    .faBars {
        padding: 5px;
        cursor: pointer;
        background: transparent;
        border: none;
        outline: none;
        color: black;
        font-size: 1.8rem;
        visibility: visible;
        opacity: 1;
    }

    .nav {
        display: none;

        a {
            color: #ffff;
        }
    }

    .navResponsive {
        @include flexbox(column, center, center, center);
        position: fixed;
        top: -100vh;
        left: 0;
        height: 100%;
        width: 100%;
        gap: 1.5rem;
        background-color: black;
        transition: 1s;
        transform: translateY(100vh);
    }

    .faTimes {
        padding: 5px;
        cursor: pointer;
        background: transparent;
        border: none;
        outline: none;
        color: white;
        font-size: 1.8rem;
        position: absolute;
        top: 2rem;
        right: 2rem;
        visibility: visible;
        opacity: 1;
    }

}